p = _('This paragraph is rendered using the _() method in a slim view.')

p = s_('slim|This paragraph is rendered using the s_() method under the namespace "slim" in a slim view.')

p = n_('This paragraph is rendered using the n_() method in a slim view.', 'These texts are rendered using the n_() method in a slim view.', 1)

p = n_('This paragraph is rendered using the n_() method in a slim view.', 'These paragraphs are rendered using the n_() method in a slim view.', 2)
